$backgroundColor: #040c18;
$footerColor: #031b34;
$colorBlog: #042c54;
$colorText: #81afdd;
$colorTextThird: #71e5ff;
$colorSubtext: #ff8a71;
$colorPrimaryButtonColor: #ff4820;
$gradientText: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
$gradientBar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
