@import "../../styles/variable.scss";

.possibility {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 3rem;
}

.possibility__left {
  display: flex;
  flex: 1;

  img {
    width: 100%;
    height: 100%;
  }
}

.possibility__right {
  display: flex;
  align-items: flex-start;
  flex: 1;
  gap: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem 0;

  .possibility__right__title {
    color: $colorTextThird;
  }
  .possibility__right__big-title {
    width: 426px;
    font-size: 34px;
    font-weight: 800;
    line-height: 1.325;
    background: $gradientText;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .possibility__right__description {
    font-size: 1rem;
    line-height: 1.875;
    color: $colorText;
    width: 479px;
  }

  .possibility__right__link {
    color: $colorSubtext;
    font-weight: 500;
  }
}
